{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome, {{user|default:'Guest'}}</h1>
    <p class="lead">
        This is <b>Photos and Tasks app with login and registration functions included </b> build with django
    </p>
    <hr class="my-4">
    <p class="lead">
        {% if user.is_authenticated %}
        <a class="btn btn-primary btn-lg" href="{% url 'tasks' %}" role="button">Tasks</a>
        <a class="btn btn-primary btn-lg" href="{% url 'photos' %}" role="button">Photos</a>
        <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
        {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
        {% endif %}
    </p>
</div>

{% endblock content %}